<div class="homebanner"></div>
<div class="container pt-3">
  <p><b>My lists</b></p>
  <div class="cards d-grid">
    <% @lists.each do |list| %>
      <a href="lists/<%= list.id %>">
        <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_url %>)" >
          <%= list.name %>
        </div>
      </a>
    <% end %>
  </div>
</div>
